body {
    background-color: #04042b;
    color: #04042b;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 1.4rem;
    padding:10px;
}


hr {
    background-color: #04042b;
    width: 90%;
}

footer {
    padding: 10px 0px 10px;
    background-color: #1e437c;
    color: white;
    text-align: center;
}

.application-container {
    background-image: linear-gradient(to right top, #1e437c, #0074b0, #00a4b2, #00ce7c, #a8eb12);
    border-radius: 20px;
    width: 609px;
    margin: 10vh auto;
    height: 900px;
}

.weather-container {
    text-align: center;
    margin: 30px;
}

.weather-week-container,
.weather-day-container {
    border-radius: 20px;
    background-color: #04042b;
    width: 90%;
    color: rgb(248, 248, 248);
}

.weather-day-container {
    height:129px;
    margin: auto auto 10px;
    display: flex;
}

.weather-week-container {
    margin: auto;
    height: 422px;
    padding: 10px;
}

.weather-day-item { 
    width: 100%;
    text-align: center;
}

.weather-week-item {
    padding: none;
}

.weather-week-item hr {
    background-color: rgba(255, 255, 255, 0.408);
}


.search-city {
    background-color: #04042b28 !important;
    border-radius: 100px;
    border: none;
    width: 400px;
    margin: auto;
}

.search-city:focus{
    background-color: white !important;
    border-radius: 17px;
    border-end-start-radius: 0px !important;
    border-end-end-radius: 0px !important;
    box-shadow: none;
}

.search-container {
    padding: 10px;
    cursor: pointer;
}



.search-expand {
    background-color: white;
    width: 400px;
    border-radius: 0px 0px 10px 10px ;
    display: none;
  left: 50%;
    transform: translateX(-50%);
    padding: 10px;
}

.expand {display:block!important;position:absolute;}